{% extends 'base.html' %}
{% load static %}

{% block content-header %}
<div class="card-header">
    {{ object.firstname }} {{ object.surname }}
  <div class="card-tools">
    <span class="badge badge-primary">{{ object.get_current_status_display }}</span>
    <a href="{% url 'staff-update' object.id %}" class="btn btn-tool">
      <i class="fas fa-edit"></i>
    </a>
    <a href="#" class="btn btn-tool">
      <i class="fas fa-trash-alt"></i>
    </a>
  </div>
</div>
{% endblock content-header %}

{% block content %}
    <div class="row mb-4">
      <div class="col-sm-8">
        <div>
          <div class="form-group border-bottom row">
            <label class="col">
              First Name
            </label>
            <div class="col">
              {{ object.firstname}}
            </div>
          </div>
          <div class="form-group border-bottom row">
            <label class="col">
              Middle Name
            </label>
            <div class="col">
              {{ object.middle_name}}
            </div>
          </div>
          <div class="form-group border-bottom row">
            <label class="col">
              Surname
            </label>
            <div class="col">
              {{ object.surname}}
            </div>
          </div>
          </div>
          <div class="form-group border-bottom row">
            <label class="col">
              Registration No
            </label>
            <div class="col">
              {{ object.registration_number}}
            </div>
          </div>
          <div class="form-group border-bottom row">
            <label class="col">
              Status
            </label>
            <div class="col">
              {{ object.get_current_status_display}}
            </div>
          </div>          
          <div class="form-group border-bottom row">
            <label class="col">
              Mobile Number
            </label>
            <div class="col">
              {{ object.mobile_number}}
            </div>
          </div>                                                      
          <div class="form-group border-bottom row">
            <label class="col">
              Address
            </label>
            <div class="col">
              {{ object.address }}
            </div>
          </div>
          <div class="form-group border-bottom row">
            <label class="col">
              Remarks
            </label>
            <div class="col">
              {{ object.remarks }}
            </div>
          </div>
        </div>

      </div>
    </div>
{% endblock content %}
